<nav class="navbar navbar-light bg-light">
  <div class="container" style="display:flex;">
    <p class="navbar-brand" href="/">
      <img
        src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt="我的餐廳清單"
      />
      請在下方修改餐廳資料
    </p>
  </div>
</nav>

<div class="container">
  <form action="/restaurants/{{resinfo.id}}?_method=PUT" method="POST">
    <div class="mb-3 mt-3">
      <label for="name" class="form-label">name</label>
      <input
        class="form-control"
        id="name"
        type="text"
        placeholder="請輸入20個字元以內的文字"
        name="name"
        maxlength="20"
        value="{{resinfo.name}}"
      />
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">category</label>
      <input
        class="form-control"
        id="category"
        type="text"
        placeholder="請輸入20個字元以內的文字"
        name="category"
        maxlength="20"
        value="{{resinfo.category}}"
      />
    </div><div class="mb-3">
      <label for="location" class="form-label">location</label>
      <input
        class="form-control"
        id="location"
        type="text"
        placeholder="請輸入20個字元以內的文字"
        name="location"
        maxlength="20"
        value="{{resinfo.location}}"
      />
    </div><div class="mb-3">
      <label for="phone" class="form-label">phone</label>
      <input
        class="form-control"
        id="phone"
        type="number"
        placeholder="請注意格式是098-765-4321或0987654321"
        name="phone"
        pattern="^\(?\d{3}\)?[- ]?\d{3}[- ]?\d{4}$"
        value="{{resinfo.phone}}"
      />
    </div><div class="mb-3">
      <label for="rating" class="form-label">rating</label>
      <input
        class="form-control"
        id="rating"
        type="number"
        placeholder="請輸入0~5之間並允許一位的小數點"
        name="rating"
        pattern="^[0-4](\.\d)?|[5]$"
        value="{{resinfo.rating}}"
      />
    </div><div class="mb-3">
      <label for="description" class="form-label">description</label>
      <input
        class="form-control"
        id="description"
        type="text"
        placeholder="請在40個字元內簡短描述"
        name="description"
        maxlength="40"
        value="{{resinfo.description}}"
      />
    </div>
    <div style="display:flex;"><button
        type="submit"
        class="btn btn-primary me-3"
      >Save</button>
      <a href="/"><button
          type="button"
          class="btn btn-primary"
        >home</button></a></div>
  </form>
</div>